.dropDownContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
}

.dropDownContainer label {
  font-weight: normal;
  font-size: large;
  background-color: #d9d9d9;
  margin: 0;
  padding-bottom: 5px;
}

.dropDownContainer select {
  background-color: white;
  color: blue;
  height: 40px;
  border: none;
}

.dropDownContainer select:focus {
  outline: solid 2px blue;
  background-color: #f9f9f9;
}

.dropDownContainer select:hover {
  cursor: pointer;
}
