.rowAdminPage {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-weight: 400;
}

.rowAdminPage:hover {
  background-color: #767dff1c;
}

.rowChecked {
  color: #e14040;
}

.rowAdminPage .checkBox {
  width: 28px;
  height: 28px;
}

.rowAdminPage .checkBox:disabled {
  cursor: not-allowed;
}

.rowAdminPage .productLink {
  width: 20%;
  text-align: initial;
}

.rowAdminPage .quantity {
  width: 6%;
}

.rowAdminPage .brand {
  width: 10%;
}

.rowAdminPage .stockBar {
  width: 10%;
}

.rowChecked .stockBar input {
  background: none;
  color: #e14040;
  border: none;
  width: 100%;
}

.rowChecked .stockBar button {
  display: none;
}

.rowAdminPage .cadDate {
  width: 12%;
}

.rowAdminPage p {
  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
