.createUser {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}

.createUser-container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  gap: 20px;
}

.mensaje {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 100%;
  height: 30%;
}

.createInput {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
}

.createInput p {
  font-weight: normal;
  font-size: large;
  background-color: #f2f2f2;
}

.createInput input {
  background-color: #f2f2f2;
  color: blue;
  border: none;
  height: 40px;
}

.modalOverlayConf {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}