.add {
    background-color: #5982C0;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: medium;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    width: 200px;
    cursor: pointer;
}

.add:hover {
    background-color: #3c6382;
}
