.dateAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.buttonTopLeft {
    top: 200px;
    left: 130px;
    display: flex;
    
}

.buttonTopLeft .titulo{
    margin-top: 5px;
}

.cuadrado{
    width: 82%;
    padding-top: 50%; 
    background-color: #D9D9D9;
    margin: 80px auto; /* Centrar horizontalmente */
    /*position: relative;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    align-items: center;
}

.cuadrado p{
    position: absolute;
     /* Ajusta el círculo al borde derecho */
    top: 50%; 
    left: 37%;
    margin-top: 0px;
    font-size: 18px;
    text-align: center;
}

.tableContainer{
    position: absolute;
    top: 58%; 
    left: 34%;
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
}

.userTable th{
    background: #D9D9D9;
}

.userTable th, .userTable td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}