.dateAdd {
    display: flex;
    flex-direction: column; 
    gap: 40px;
    padding: 10px 5px;
    margin: 0px 0px;
    
}

.mensaje{
    align-items: center; /* Aplica align-items solo a los elementos con la clase .mensaje */
}

.buttonBackAdd {
    display: flex;
    margin-left: 9%;
    align-items: flex-start; /* Ajusta el comportamiento de align-items para .buttonBackAdd */
}

.buttonBackAdd .titulo{
    margin-top: 3px;
}

/*
.cuadrado{
    width: 82%;
    padding-top: 48%; 
    background-color: #D9D9D9;
    margin: 0px auto; 
    align-items: center;
}
*/

.cuadrado p{
    position: absolute;
     /* Ajusta el círculo al borde derecho */
    top: 47%; 
    left: 37%;
    margin: 0px auto;
    font-size: 18px;
    text-align: center;
}

.tableContainerAdd{
    /* Elimina position: absolute; */
    /* position: absolute; */
    top: 70%; 
    margin: 30px auto; /* Centrar horizontalmente */
    font-size: 20px;
    text-align: center;
    width: auto; /* Ajustar automáticamente al tamaño de los datos */
    display: table;
    background: #D9D9D9;
    padding-left: 180px;
    padding-right: 180px;
}

.userTableAdd th{
    background: #D9D9D9;
}

.userTableAdd th, .userTableAdd td {
    padding: 8px;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    background: #D9D9D9;
}
