.transaccionesUsuario {
    padding: 20px;
    max-width: 960px;
    margin: auto;
  }
  
  .transaccionesUsuario h1 {
    color: #333;
    text-align: center;
  }
  
  .transaccionesUsuario table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .transaccionesUsuario th, .transaccionesUsuario td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .transaccionesUsuario th {
    background-color: #f8f8f8;
  }
  