.login {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    gap: 20px;
}

.login-container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 8px; 
    width: 90%;
    height: 50vh; /* Cambiar el valor según sea necesario */
  }

.buttonContainer {
    display: flex; 
    justify-content: center; /* Centrar horizontalmente */
}

.buttonContainer button {
    margin-right: 20px; 
}

.mensaje{
    align-items: center;
    display: flex;
    flex-direction: column; 
    width: 80%;
}