.adminPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.alimentosBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  background-color: #f0f0f0;
  margin: 20px 0;
}
.divRow {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divRow hr {
  width: 95%;
  margin: 6px 0;
  border-color: #f0f0f0;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.anterior,
.siguiente {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.anterior {
  color: #848484;
}

.paginacionField {
  text-align: center;
  width: 10%;
}

.siguiente {
  color: #252b96;
}

.top,
.bottom {
  background: none;
  border: none;
  cursor: pointer;
}
