.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.userTable {
    width: 100%;
    border-collapse: collapse;
}

.userTable th, .userTable td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.userTable th {
    background-color: #f2f2f2;
}

/* Estilos para los botones dentro de la tabla */
.userTable .add {
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
    .userTable, .userTable th, .userTable td {
        display: block;
    }
    .userTable th {
        text-align: right;
    }
    .userTable td {
        text-align: right;
    }
}

.buttonTopLeft {
    position: fixed;
    top: 10px;
    left: 10px;
}
