.navbar {
  position: fixed; /* Establece la posición fija para que flote */
  top: 0; /* Lo posiciona en la parte superior de la ventana */
  right: 0; /* Lo alinea a la derecha */
  background-color: #007bff;
  padding: 10px 20px;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.nav-link {
  margin: 0 3px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #ffffff;
}

.nav-link:hover {
  background-color: #0056b3;
}
