.acc {
    background-color: #5982C0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: medium;
    padding: 0rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    width: 100px; 
    cursor: pointer;
    height: 30px;
}

/*
.acc:hover {
    background-color: #3c6382;
}*/

.accC {
    background-color: #5982C0;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: medium;
    padding: 0rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    width: 50px; 
    cursor: pointer;
    height: 30px;
}

/*
.accC:hover {
    background-color: #3c6382;
}*/
