.addProduct {
  width: 90%;
  height: 100vh; /* Establece la altura al 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addProductTitle {
  margin: 2%;
  width: 100%; /* Ajusta el ancho al 100% del contenedor principal */
  height: 30%; /* Modifica la altura según tus necesidades */
}

.addProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 85%; /* Ajusta el ancho al 100% del contenedor principal */
  height: 60%; /* Ajusta la altura al 90% del contenedor principal */
  background-color: #d9d9d9;
  margin: 2% 0 2% 0; /* Elimina el margen para evitar desbordamientos */
  padding: 3% 0 3% 0;
}

.addProductContainer button {
  width: 20%; /* Ajusta el ancho al 30% del contenedor padre */
  height: 40px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
}

.inputContainer > * {
  width: 40%;
  margin: 1%; /* Ajusta los márgenes según tus necesidades */
}

/* Añade reglas para evitar el desbordamiento horizontal en caso de contenido grande */
input,
select {
  max-width: 100%; /* Evita que los elementos se desborden */
}
