.textInputAdd {
    background-color: white;
    flex-direction: column;
    align-items: left;
    width: 90%;
  }
  
  .textInputAdd label {
    font-weight: normal;
    font-size: large;
    background-color: #d9d9d9;
    margin: 0;
    padding-bottom: 5px;
  }
  /*update textinputq*/
  .textInputAdd input {
    background-color: white;
    color: blue;
    height: 40px;
    border: none;
  }
  
  .textInputAdd input:focus {
    outline-color: blue;
  }
  